{{- define "main" }}

<div class="container mt-5">
    <h2>Contact Us</h2>
    <h4 class="mt-5" style="color: rgb(46, 105, 150);">We are still seeking stakeholder partners for in-kind participation in this
        project.</h4>

    <p class="mt-4">
        Please reach out to set up a call and discuss the project scope in further detail. Your consideration of this
        initiative is highly appreciated.
    </p>

    <div class="mt-5">
        <b>Contact:</b>
    </div>

    <div class="mt-2">
        <a class="team-icon" href="mailto:a.harry1@imperial.ac.uk">
            <i class="fa fa-envelope fa-xs"></i>
            Dr. Anjanette
        </a>
    </div>
    <div class="mt-2">
        <b>cc.</b>
        <a class="team-icon ms-2" href="mailto:s.krevor@imperial.ac.uk">
            <i class="fa fa-envelope fa-xs"></i>
            Prof. Sam Krevor - s.krevor@imperial.ac.uk
        </a>

        <a class="team-icon ms-2" href="mailto:xg320@ic.ac.uk">
            <i class="fa fa-envelope fa-xs"></i>
            Xiaowei Gao - xg320@ic.ac.uk
        </a>

    </div>
</div>

{{- end }}