<div class="mt-5 ms-3 me-3">
    <div class="mt-5 ms-3 me-3">
        <h4 style="flex: 1; text-align: start;">
            Project and Materials
        </h4>
    </div>

    <div class="mt-5 ms-3 me-3">
        <p>
            The annual report (2025) can be downloaded from
            <a class="team-icon" href="https://zenodo.org/records/17544680" target="_blank">
                <i class="fa-solid fa-up-right-from-square"></i>
                https://zenodo.org/records/17544680
            </a>
        </p>

        <p>
            The full database can be downloaded from
            <a class="team-icon" href="https://zenodo.org/records/17544680" target="_blank">
                <i class="fa-solid fa-up-right-from-square"></i>
                https://zenodo.org/records/17544680
            </a>
        </p>

        <p>
            The DNV Assurance Statement will be released in early December 2025. The statement could be downloaded here.
            <!-- <a class="team-icon" href="https://zenodo.org/records/15147436" target="_blank">
                <i class="fa-solid fa-up-right-from-square"></i>
                https://zenodo.org/records/17544680
            </a> -->
        </p>
    </div>
</div>
