<hr>
<div class="container mt-5">

    <div class="mt-5 mb-5">
        <img src="{{ absURL "images/addi_vis_CO2count.png"}}" class="img-fluid" alt="CO2count">
        <figcaption class="figure-caption" style="text-align: center;">
            Figure 3: Annual Project Counts by Type (1996-2023) 
        </figcaption>
    </div>

    <div class="mt-5 mb-5">
        <img src="{{ absURL "images/addi_vis_CO2storage.png"}}" class="img-fluid" alt="CO2storage">
        <figcaption class="figure-caption" style="text-align: center;">
            Figure 4: CO2 Storage & Year-on-Year Change by Type (1996-2023)
        </figcaption>
    </div>
</div>