{{- $reg := site.Data.register }}
<hr>
<div class="container mt-5">

    <div class="mt-5 mb-5">
        <img src="{{ relURL "images/addi_vis_EOR_DS.png"}}" class="img-fluid" alt="Annual CO2 storage by storage type: EOR versus dedicated geological storage">
        <figcaption class="figure-caption" style="text-align: center;">
            Figure 3: Annual reported CO&#8322; storage via enhanced oil recovery (EOR) and dedicated geological
            storage (DS), 1996&ndash;2025. 2025 reporting is incomplete. (data release {{ $reg.meta.release }})
        </figcaption>
    </div>

    <div class="mt-5 mb-5">
        <img src="{{ relURL "images/addi_vis_CO2count.png"}}" class="img-fluid" alt="CO2count">
        <figcaption class="figure-caption" style="text-align: center;">
            Figure 4: Annual Project Counts by Type (1996-2023)
        </figcaption>
    </div>

    <div class="mt-5 mb-5">
        <img src="{{ relURL "images/addi_vis_CO2storage.png"}}" class="img-fluid" alt="CO2storage">
        <figcaption class="figure-caption" style="text-align: center;">
            Figure 5: CO&#8322; Storage &amp; Year-on-Year Change by Type (1996-2023)
        </figcaption>
    </div>
</div>
