<div id="project_1_figure_4_container">

</div>

<template id="project_1_figure_4_template">
    <div class="mt-5" style="overflow-x: auto;">
        <div class="figure1-plot-container">
            <figure class="figure">
                <svg class="project_1_figure_4_svg"></svg>
            </figure>
        </div>
    </div>
</template>

<script type="module">

    const figure3ExampleData = [
        {
            "all": [{ "year": 2008, "value": 0.89 }, { "year": 2009, "value": 0.89 }, { "year": 2010, "value": 0.89 }, { "year": 2011, "value": 0.89 }, { "year": 2012, "value": 0.89 }, { "year": 2013, "value": 0.89 }, { "year": 2014, "value": 0.89 }, { "year": 2015, "value": 0.89 }, { "year": 2016, "value": 0.89 }, { "year": 2017, "value": 0.89 }, { "year": 2018, "value": 0.89 }, { "year": 2019, "value": 4.6 }, { "year": 2020, "value": 7.0 }],
            "average": [[{ "year": 2008, "value": 0.89 }, { "year": 2009, "value": 0.89 }, { "year": 2010, "value": 0.89 }, { "year": 2011, "value": 0.89 }, { "year": 2012, "value": 0.89 }, { "year": 2013, "value": 0.89 }, { "year": 2014, "value": 0.89 }, { "year": 2015, "value": 0.89 }, { "year": 2016, "value": 0.89 }, { "year": 2017, "value": 0.89 }, { "year": 2018, "value": 0.89 }]],
            "real": [[{ "year": 2018, "value": 0.89 }, { "year": 2019, "value": 4.6 }, { "year": 2020, "value": 7.0 }]],
            "ref": [{ "year": 1995, "value": 4.6 }, { "year": 2020, "value": 4.6 }],
            "range": [0, 9],
            "name": "Petrobras",
            "color": "rgb(143,197,216)"
        }
    ]

    const figure3Data = [{
        'id': 'Snohvit',
        'name': 'Snohvit',
        'color': 'rgb(193,228,162)',
        'average_ranges': [],
        'real_ranges': [(2007, 2019)],
        'all_range': [2007, 2019],
        'ref': [{ 'year': 1995, 'value': 0.7 }, { 'year': 2020, 'value': 0.7 }],
        'range': [0, 1.5],
        'ticks': 4,
        'all': [{ 'year': 2007, 'value': 0.0 },
        { 'year': 2008, 'value': 0.197 },
        { 'year': 2009, 'value': 0.308 },
        { 'year': 2010, 'value': 0.46 },
        { 'year': 2011, 'value': 0.403 },
        { 'year': 2012, 'value': 0.49 },
        { 'year': 2013, 'value': 0.469 },
        { 'year': 2014, 'value': 0.587 },
        { 'year': 2015, 'value': 0.679 },
        { 'year': 2016, 'value': 0.75 },
        { 'year': 2017, 'value': 0.68 },
        { 'year': 2018, 'value': 0.758 },
        { 'year': 2019, 'value': 0.721 }],
        'average': [],
        'real': [[{ 'year': 2007, 'value': 0.0 },
        { 'year': 2008, 'value': 0.197 },
        { 'year': 2009, 'value': 0.308 },
        { 'year': 2010, 'value': 0.46 },
        { 'year': 2011, 'value': 0.403 },
        { 'year': 2012, 'value': 0.49 },
        { 'year': 2013, 'value': 0.469 },
        { 'year': 2014, 'value': 0.587 },
        { 'year': 2015, 'value': 0.679 },
        { 'year': 2016, 'value': 0.75 },
        { 'year': 2017, 'value': 0.68 },
        { 'year': 2018, 'value': 0.758 },
        { 'year': 2019, 'value': 0.721 }]]
    },
    {
        'id': 'Sleipner',
        'name': 'Sleipner',
        'color': 'rgb(205,239,216)',
        'average_ranges': [],
        'real_ranges': [(1996, 2019)],
        'all_range': [1996, 2019],
        'ref': [{ 'year': 1995, 'value': 1 }, { 'year': 2020, 'value': 1 }],
        'range': [0, 1.5],
        'ticks': 4,
        'all': [{ 'year': 1996, 'value': 0.07 },
        { 'year': 1997, 'value': 0.665 },
        { 'year': 1998, 'value': 0.842 },
        { 'year': 1999, 'value': 0.971 },
        { 'year': 2000, 'value': 0.933 },
        { 'year': 2001, 'value': 1.009 },
        { 'year': 2002, 'value': 0.955 },
        { 'year': 2003, 'value': 0.914 },
        { 'year': 2004, 'value': 0.75 },
        { 'year': 2005, 'value': 0.858 },
        { 'year': 2006, 'value': 0.82 },
        { 'year': 2007, 'value': 0.921 },
        { 'year': 2008, 'value': 0.814 },
        { 'year': 2009, 'value': 0.86 },
        { 'year': 2010, 'value': 0.743 },
        { 'year': 2011, 'value': 0.929 },
        { 'year': 2012, 'value': 0.842 },
        { 'year': 2013, 'value': 0.702 },
        { 'year': 2014, 'value': 0.658 },
        { 'year': 2015, 'value': 0.707 },
        { 'year': 2016, 'value': 0.632 },
        { 'year': 2017, 'value': 0.679 },
        { 'year': 2018, 'value': 0.603 },
        { 'year': 2019, 'value': 0.649 }],
        'average': [],
        'real': [[{ 'year': 1996, 'value': 0.07 },
        { 'year': 1997, 'value': 0.665 },
        { 'year': 1998, 'value': 0.842 },
        { 'year': 1999, 'value': 0.971 },
        { 'year': 2000, 'value': 0.933 },
        { 'year': 2001, 'value': 1.009 },
        { 'year': 2002, 'value': 0.955 },
        { 'year': 2003, 'value': 0.914 },
        { 'year': 2004, 'value': 0.75 },
        { 'year': 2005, 'value': 0.858 },
        { 'year': 2006, 'value': 0.82 },
        { 'year': 2007, 'value': 0.921 },
        { 'year': 2008, 'value': 0.814 },
        { 'year': 2009, 'value': 0.86 },
        { 'year': 2010, 'value': 0.743 },
        { 'year': 2011, 'value': 0.929 },
        { 'year': 2012, 'value': 0.842 },
        { 'year': 2013, 'value': 0.702 },
        { 'year': 2014, 'value': 0.658 },
        { 'year': 2015, 'value': 0.707 },
        { 'year': 2016, 'value': 0.632 },
        { 'year': 2017, 'value': 0.679 },
        { 'year': 2018, 'value': 0.603 },
        { 'year': 2019, 'value': 0.649 }]]
    },
    {
        'id': 'Quest',
        'name': 'Quest',
        'color': 'rgb(146,183,85)',
        'average_ranges': [],
        'real_ranges': [(2015, 2020)],
        'all_range': [2015, 2020],
        'ref': [{ 'year': 1995, 'value': 1.2 }, { 'year': 2020, 'value': 1.2 }],
        'range': [0, 1.5],
        'ticks': 4,
        'all': [{ 'year': 2015, 'value': 0.371 },
        { 'year': 2016, 'value': 1.11 },
        { 'year': 2017, 'value': 1.138 },
        { 'year': 2018, 'value': 1.066 },
        { 'year': 2019, 'value': 1.128 },
        { 'year': 2020, 'value': 0.94 }],
        'average': [],
        'real': [[{ 'year': 2015, 'value': 0.371 },
        { 'year': 2016, 'value': 1.11 },
        { 'year': 2017, 'value': 1.138 },
        { 'year': 2018, 'value': 1.066 },
        { 'year': 2019, 'value': 1.128 },
        { 'year': 2020, 'value': 0.94 }]]
    },
    {
        'id': 'Century',
        'name': 'Century',
        'color': 'rgb(112,146,81)',
        'average_ranges': [],
        'real_ranges': [(2016, 2020)],
        'all_range': [2016, 2020],
        'ref': [{ 'year': 1995, 'value': 8.4 }, { 'year': 2020, 'value': 8.4 }],
        'range': [0, 15],
        'ticks': 3,
        'all': [{ 'year': 2016, 'value': 3.09 },
        { 'year': 2017, 'value': 5.45 },
        { 'year': 2018, 'value': 6.4 },
        { 'year': 2019, 'value': 7.05 },
        { 'year': 2020, 'value': 4.95 }],
        'average': [],
        'real': [[{ 'year': 2016, 'value': 3.09 },
        { 'year': 2017, 'value': 5.45 },
        { 'year': 2018, 'value': 6.4 },
        { 'year': 2019, 'value': 7.05 },
        { 'year': 2020, 'value': 4.95 }]]
    },
    {
        'id': 'Illinois',
        'name': 'Illinois',
        'color': 'rgb(92,161,73)',
        'average_ranges': [],
        'real_ranges': [(2017, 2019)],
        'all_range': [2017, 2019],
        'ref': [{ 'year': 1995, 'value': 1 }, { 'year': 2020, 'value': 1 }],
        'range': [0, 1.5],
        'ticks': 4,
        'all': [{ 'year': 2017, 'value': 0.5065 },
        { 'year': 2018, 'value': 0.525002 },
        { 'year': 2019, 'value': 0.51978 }],
        'average': [],
        'real': [[{ 'year': 2017, 'value': 0.5065 },
        { 'year': 2018, 'value': 0.525002 },
        { 'year': 2019, 'value': 0.51978 }]]
    },
    {
        'id': 'Coffeyville',
        'name': 'Coffeyville',
        'color': 'rgb(68,117,56)',
        'average_ranges': [(2017, 2019)],
        'real_ranges': [],
        'all_range': [2017, 2019],
        'ref': [{ 'year': 1995, 'value': 1 }, { 'year': 2020, 'value': 1 }],
        'range': [0, 1.5],
        'ticks': 4,
        'all': [{ 'year': 2017, 'value': 1.16 },
        { 'year': 2018, 'value': 1.16 },
        { 'year': 2019, 'value': 1.16 }],
        'average': [[{ 'year': 2017, 'value': 1.16 },
        { 'year': 2018, 'value': 1.16 },
        { 'year': 2019, 'value': 1.16 }]],
        'real': []
    },
    {
        'id': 'Core',
        'name': 'Core',
        'color': 'rgb(37,57,33)',
        'average_ranges': [],
        'real_ranges': [(2019, 2020)],
        'all_range': [2019, 2020],
        'ref': [{ 'year': 1995, 'value': 0.35 }, { 'year': 2020, 'value': 0.35 }],
        'range': [0, 1],
        'ticks': 3,
        'all': [{ 'year': 2019, 'value': 0.382859 }, { 'year': 2020, 'value': 0.309 }],
        'average': [],
        'real': [[{ 'year': 2019, 'value': 0.382859 },
        { 'year': 2020, 'value': 0.309 }]]
    },
    {
        'id': 'Zhongyuan',
        'name': 'Zhongyuan',
        'color': 'rgb(170,212,227)',
        'average_ranges': [(2006, 2019)],
        'real_ranges': [],
        'all_range': [2006, 2019],
        'ref': [{ 'year': 1995, 'value': 0.12 }, { 'year': 2020, 'value': 0.12 }],
        'range': [0, 0.3],
        'ticks': 4,
        'all': [{ 'year': 2006, 'value': 0.1 },
        { 'year': 2007, 'value': 0.1 },
        { 'year': 2008, 'value': 0.1 },
        { 'year': 2009, 'value': 0.1 },
        { 'year': 2010, 'value': 0.1 },
        { 'year': 2011, 'value': 0.1 },
        { 'year': 2012, 'value': 0.1 },
        { 'year': 2013, 'value': 0.1 },
        { 'year': 2014, 'value': 0.1 },
        { 'year': 2015, 'value': 0.1 },
        { 'year': 2016, 'value': 0.1 },
        { 'year': 2017, 'value': 0.1 },
        { 'year': 2018, 'value': 0.1 },
        { 'year': 2019, 'value': 0.1 }],
        'average': [[{ 'year': 2006, 'value': 0.1 },
        { 'year': 2007, 'value': 0.1 },
        { 'year': 2008, 'value': 0.1 },
        { 'year': 2009, 'value': 0.1 },
        { 'year': 2010, 'value': 0.1 },
        { 'year': 2011, 'value': 0.1 },
        { 'year': 2012, 'value': 0.1 },
        { 'year': 2013, 'value': 0.1 },
        { 'year': 2014, 'value': 0.1 },
        { 'year': 2015, 'value': 0.1 },
        { 'year': 2016, 'value': 0.1 },
        { 'year': 2017, 'value': 0.1 },
        { 'year': 2018, 'value': 0.1 },
        { 'year': 2019, 'value': 0.1 }]],
        'real': []
    },
    {
        'id': 'Petrobras',
        'name': 'Petrobras',
        'color': 'rgb(143,197,216)',
        'average_ranges': [(2008, 2018)],
        'real_ranges': [(2018, 2020)],
        'all_range': [2008, 2020],
        'ref': [{ 'year': 1995, 'value': 4.6 }, { 'year': 2020, 'value': 4.6 }],
        'range': [0, 8],
        'ticks': 5,
        'all': [{ 'year': 2008, 'value': 0.89 },
        { 'year': 2009, 'value': 0.89 },
        { 'year': 2010, 'value': 0.89 },
        { 'year': 2011, 'value': 0.89 },
        { 'year': 2012, 'value': 0.89 },
        { 'year': 2013, 'value': 0.89 },
        { 'year': 2014, 'value': 0.89 },
        { 'year': 2015, 'value': 0.89 },
        { 'year': 2016, 'value': 0.89 },
        { 'year': 2017, 'value': 0.89 },
        { 'year': 2018, 'value': 0.89 },
        { 'year': 2019, 'value': 4.6 },
        { 'year': 2020, 'value': 7.0 }],
        'average': [[{ 'year': 2008, 'value': 0.89 },
        { 'year': 2009, 'value': 0.89 },
        { 'year': 2010, 'value': 0.89 },
        { 'year': 2011, 'value': 0.89 },
        { 'year': 2012, 'value': 0.89 },
        { 'year': 2013, 'value': 0.89 },
        { 'year': 2014, 'value': 0.89 },
        { 'year': 2015, 'value': 0.89 },
        { 'year': 2016, 'value': 0.89 },
        { 'year': 2017, 'value': 0.89 },
        { 'year': 2018, 'value': 0.89 }]],
        'real': [[{ 'year': 2018, 'value': 0.89 },
        { 'year': 2019, 'value': 4.6 },
        { 'year': 2020, 'value': 7.0 }]]
    },
    {
        'id': 'group of 3 qatar + gordon + shute creek',
        'name': 'SC/Qatar/Gorgon',
        'color': 'rgb(108,168,206)',
        'average_ranges': [],
        'real_ranges': [(2011, 2020)],
        'all_range': [2011, 2020],
        'ref': [{ 'year': 1995, 'value': 7 }, { 'year': 2020, 'value': 7 }],
        'range': [0, 10],
        'ticks': 6,
        'all': [{ 'year': 2011, 'value': 5.0 },
        { 'year': 2012, 'value': 4.8 },
        { 'year': 2013, 'value': 5.9 },
        { 'year': 2014, 'value': 6.9 },
        { 'year': 2015, 'value': 6.9 },
        { 'year': 2016, 'value': 6.3 },
        { 'year': 2017, 'value': 6.6 },
        { 'year': 2018, 'value': 7.0 },
        { 'year': 2019, 'value': 7.8 },
        { 'year': 2020, 'value': 10.4 }],
        'average': [],
        'real': [[{ 'year': 2011, 'value': 5.0 },
        { 'year': 2012, 'value': 4.8 },
        { 'year': 2013, 'value': 5.9 },
        { 'year': 2014, 'value': 6.9 },
        { 'year': 2015, 'value': 6.9 },
        { 'year': 2016, 'value': 6.3 },
        { 'year': 2017, 'value': 6.6 },
        { 'year': 2018, 'value': 7.0 },
        { 'year': 2019, 'value': 7.8 },
        { 'year': 2020, 'value': 10.4 }]]
    },
    {
        'id': 'GPSP',
        'name': 'Great Plains Synfuel Plant - Boundary Dam - Weyburn/Midale - Aquistore',
        'color': 'rgb(237,237,104)',
        'average_ranges': [(2000, 2020)],
        'real_ranges': [],
        'all_range': [2000, 2020],
        'ref': [{ 'year': 1995, 'value': 4 }, { 'year': 2020, 'value': 4 }],
        'range': [0, 5],
        'ticks': 6,
        'all': [{ 'year': 2000, 'value': 1.78888 },
        { 'year': 2001, 'value': 1.78888 },
        { 'year': 2002, 'value': 1.78888 },
        { 'year': 2003, 'value': 1.78888 },
        { 'year': 2004, 'value': 1.78888 },
        { 'year': 2005, 'value': 1.78888 },
        { 'year': 2006, 'value': 1.78888 },
        { 'year': 2007, 'value': 1.78888 },
        { 'year': 2008, 'value': 1.78888 },
        { 'year': 2009, 'value': 1.78888 },
        { 'year': 2010, 'value': 1.78888 },
        { 'year': 2011, 'value': 1.78888 },
        { 'year': 2012, 'value': 1.78888 },
        { 'year': 2013, 'value': 1.78888 },
        { 'year': 2014, 'value': 1.78888 },
        { 'year': 2015, 'value': 1.78888 },
        { 'year': 2016, 'value': 1.78888 },
        { 'year': 2017, 'value': 1.78888 },
        { 'year': 2018, 'value': 1.8 },
        { 'year': 2019, 'value': 2.0 },
        { 'year': 2020, 'value': 2.0 }],
        'average': [[{ 'year': 2000, 'value': 1.78888 },
        { 'year': 2001, 'value': 1.78888 },
        { 'year': 2002, 'value': 1.78888 },
        { 'year': 2003, 'value': 1.78888 },
        { 'year': 2004, 'value': 1.78888 },
        { 'year': 2005, 'value': 1.78888 },
        { 'year': 2006, 'value': 1.78888 },
        { 'year': 2007, 'value': 1.78888 },
        { 'year': 2008, 'value': 1.78888 },
        { 'year': 2009, 'value': 1.78888 },
        { 'year': 2010, 'value': 1.78888 },
        { 'year': 2011, 'value': 1.78888 },
        { 'year': 2012, 'value': 1.78888 },
        { 'year': 2013, 'value': 1.78888 },
        { 'year': 2014, 'value': 1.78888 },
        { 'year': 2015, 'value': 1.78888 },
        { 'year': 2016, 'value': 1.78888 },
        { 'year': 2017, 'value': 1.78888 },
        { 'year': 2018, 'value': 1.8 },
        { 'year': 2019, 'value': 2.0 },
        { 'year': 2020, 'value': 2.0 }]],
        'real': []
    },
    {
        'id': 'karamay',
        'name': 'Karamay',
        'color': 'rgb(14,0,126)',
        'average_ranges': [(2015, 2019)],
        'real_ranges': [],
        'all_range': [2015, 2019],
        'ref': [{ 'year': 1995, 'value': 0.1 }, { 'year': 2020, 'value': 0.1 }],
        'range': [0, 0.5],
        'ticks': 6,
        'all': [{ 'year': 2015, 'value': 0.02 },
        { 'year': 2016, 'value': 0.02 },
        { 'year': 2017, 'value': 0.02 },
        { 'year': 2018, 'value': 0.02 },
        { 'year': 2019, 'value': 0.02 }],
        'average': [[{ 'year': 2015, 'value': 0.02 },
        { 'year': 2016, 'value': 0.02 },
        { 'year': 2017, 'value': 0.02 },
        { 'year': 2018, 'value': 0.02 },
        { 'year': 2019, 'value': 0.02 }]],
        'real': []
    },
    {
        'id': 'jilin',
        'name': 'Jilin',
        'color': 'rgb(48,40,124)',
        'average_ranges': [(2018, 2020)],
        'real_ranges': [],
        'all_range': [2018, 2020],
        'ref': [{ 'year': 1995, 'value': 0.6 }, { 'year': 2020, 'value': 0.6 }],
        'range': [0, 1],
        'ticks': 3,
        'all': [{ 'year': 2018, 'value': 0.63 },
        { 'year': 2019, 'value': 0.63 },
        { 'year': 2020, 'value': 0.63 }],
        'average': [[{ 'year': 2018, 'value': 0.63 },
        { 'year': 2019, 'value': 0.63 },
        { 'year': 2020, 'value': 0.63 }]],
        'real': []
    },
    {
        'id': 'Air Products',
        'name': 'Air Products',
        'color': 'rgb(70,127,194)',
        'average_ranges': [],
        'real_ranges': [(2019, 2020)],
        'all_range': [2019, 2020],
        'ref': [{ 'year': 1995, 'value': 1 }, { 'year': 2020, 'value': 1 }],
        'range': [0, 1.5],
        'ticks': 4,
        'all': [{ 'year': 2019, 'value': 1.087 }, { 'year': 2020, 'value': 0.995 }],
        'average': [],
        'real': [[{ 'year': 2019, 'value': 1.087 }, { 'year': 2020, 'value': 0.995 }]]
    },
    {
        'id': 'arkalon',
        'name': 'Arkalon',
        'color': 'rgb(254,153,41)',
        'average_ranges': [(2013, 2017)],
        'real_ranges': [],
        'all_range': [2013, 2017],
        'ref': [{ 'year': 1995, 'value': 0.29 }, { 'year': 2020, 'value': 0.29 }],
        'range': [0, 1],
        'ticks': 3,
        'all': [{ 'year': 2013, 'value': 0.092 },
        { 'year': 2014, 'value': 0.092 },
        { 'year': 2015, 'value': 0.092 },
        { 'year': 2016, 'value': 0.092 },
        { 'year': 2017, 'value': 0.092 }],
        'average': [[{ 'year': 2013, 'value': 0.092 },
        { 'year': 2014, 'value': 0.092 },
        { 'year': 2015, 'value': 0.092 },
        { 'year': 2016, 'value': 0.092 },
        { 'year': 2017, 'value': 0.092 }]],
        'real': []
    }]

    const chartIdPrefix = "project_1_figure_4_"

    const drawChart = (chartData, chartSvgId) => {
        const width = 900;
        const height = 200;
        const marginTop = 20;
        const marginRight = 30;
        const marginBottom = 40;
        const marginLeft = 40;

        // Declare the x (horizontal position) scale.
        const x = d3.scaleLinear([1995, 2020], [marginLeft, width - marginRight]);

        // Declare the y (vertical position) scale.
        const y = d3.scaleLinear(chartData.range, [height - marginBottom, marginTop]);

        // Declare the line generator.
        const line = d3.line()
            .x(d => x(d.year))
            .y(d => y(d.value));

        const area = d3.area()
            .x(d => x(d.year))
            .y0(y(0))
            .y1(d => y(d.value));

        // Create the SVG container.
        const svg = d3.select(`#${chartSvgId}`)
            .attr("width", width)
            .attr("height", height)
            .attr("viewBox", [0, 0, width, height])
            .attr("style", "max-width: 100%; height: auto; height: intrinsic;");

        // Add the x-axis.
        svg.append("g")
            .attr("transform", `translate(0,${height - marginBottom})`)
            .call(d3.axisBottom(x).tickFormat(d3.format("d")).ticks(width / 80).tickSizeOuter(0))
            .call(g => g.append("text")
                .attr("x", width / 2)  // Center horizontally
                .attr("y", marginBottom) // Position below x-axis
                .attr("fill", "currentColor")
                .attr("text-anchor", "start")
                .style("font-size", "14px")
                .style("fill", "black")
                .text("Year"))

        // Add the y-axis, remove the domain line, add grid lines and a label.
        svg.append("g")
            .attr("transform", `translate(${marginLeft},0)`)
            .call(d3.axisLeft(y).ticks(chartData.ticks))
            .call(g => g.selectAll(".tick line").clone()
                .attr("x2", width - marginLeft - marginRight)
                .attr("stroke-opacity", 0.1))
            .call(g => g.append("text")
                .attr("x", -height + marginBottom)
                .attr("y", -marginLeft + 10)
                .attr("transform", `rotate(-90)`)
                .attr("fill", "currentColor")
                .attr("text-anchor", "start")
                .style("font-size", "14px")
                .style("fill", "black")
                .text("Storage Rate [Mt/year]"));

        chartData.real.forEach(dr => {
            svg.append("path")
                .attr("fill", "none")
                .attr("stroke", "black")
                .attr("stroke-width", 1.5)
                .attr("d", line(dr));
        })

        chartData.average.forEach(da => {
            svg.append("path")
                .attr("fill", "none")
                .attr("stroke-dasharray", "5,5")
                .attr("stroke", "black")
                .attr("stroke-width", 1.5)
                .attr("d", line(da));
        })

        // Add Area
        svg.append("path")
            .attr("fill", chartData.color)
            .attr("d", area(chartData.all));

        // Draw ref line
        svg.append("path")
            .attr("fill", "none")
            .attr("stroke", "red")
            .attr("stroke-width", 2)
            .attr("d", line(chartData.ref));

        const tooltip = d3.select("#project_1_figure_4_container").append("div")
            .style("position", "absolute")
            .style("background", "white")
            .style("border", "1px solid black")
            .style("padding", "5px")
            .style("border-radius", "5px")
            .style("visibility", "hidden")
            .style("font-size", "12px");

        // Add Dots
        chartData.real.forEach(dr => {
            svg.selectAll("circle")
                .data(dr)
                .enter().append("circle")
                .attr("cx", d => x(d.year))
                .attr("cy", d => y(d.value))
                .attr("r", 2)  // Dot size
                .attr("fill", "black")  // Dot color
                .on("mouseover", (event, d) => {
                    tooltip.style("visibility", "visible")
                        .html(`<div><div><b>Year:</b> ${d.year}</div> <div><b>Value:</b> ${d.value}</div></div>`);
                })
                .on("mousemove", (event) => {
                    tooltip.style("top", (event.pageY - 10) + "px")
                        .style("left", (event.pageX + 10) + "px");
                })
                .on("mouseout", () => {
                    tooltip.style("visibility", "hidden");
                });
        })
        chartData.average.forEach(da => {
            svg.selectAll("circle")
                .data(da)
                .enter().append("circle")
                .attr("cx", d => x(d.year))
                .attr("cy", d => y(d.value))
                .attr("r", 2)  // Dot size
                .attr("fill", "rgba(0,0,0,0.5)")  // Dot color
                .on("mouseover", (event, d) => {
                    tooltip.style("visibility", "visible")
                        .html(`<div><div><b>Year:</b> ${d.year}</div> <div><b>Value:</b> ${d.value}</div></div>`);
                })
                .on("mousemove", (event) => {
                    tooltip.style("top", (event.pageY - 10) + "px")
                        .style("left", (event.pageX + 10) + "px");
                })
                .on("mouseout", () => {
                    tooltip.style("visibility", "hidden");
                });
        })

        svg.append("text")
            .attr("x", 100)  // Center text
            .attr("y", y(chartData.ref[0].value) - 5) // Slightly above the line
            .attr("text-anchor", "middle") // Center align text
            .style("font-size", "14px")
            .style("fill", "black")
            .style("font-weight", "bold")
            .text(`${chartData.ref[0].value} Mt/year`);

        svg.append("text")
            .attr("x", width / 2)  // Center text
            .attr("y", marginTop - 10) // Slightly above the line
            .attr("text-anchor", "middle") // Center align text
            .style("font-size", "14px")
            .style("fill", "black")
            .style("font-weight", "bold")
            .text(`${chartData.name}`);
    }

    const addChart = (chartData, chartNumber) => {
        const container = document.getElementById('project_1_figure_4_container');
        const template = document.getElementById('project_1_figure_4_template');
        const clone = template.content.cloneNode(true);
        const chartSvg = clone.querySelector('.project_1_figure_4_svg')
        chartSvg.id = `${chartIdPrefix}${chartNumber}`
        container.appendChild(clone);
        drawChart(chartData, chartSvg.id);
    }

    figure3Data.forEach((x, i) => {
        addChart(x, i)
    })

</script>